@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bangers", cursive;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #f3f3f3;
}

h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}

.contenedor {
  position: relative;
  top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.tablero {
  position: relative;
  top: 2em;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

.contador {
  font-size: 1.2em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: -4em 0em 0em 0em;
}

.cuenta {
  width: 3em;
  height: 3em;
  border-radius: 15px;
  background: #000000c9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  bottom: 40px;
  position: relative;
  margin: 2em 0em 0em 0em;
}

.botonera {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 0px;
}
.fila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.btn {
  font-family: "Bangers", cursive;
  border-radius: 15px;
  background: #22a6c3;
  border: none;
  outline: none;
  margin: 5px;
  cursor: pointer;
  transition: all 0.4s;
  color: #ffffff;
  font-size: 3em;
  width: 2em;
  height: 2em;
}

.btn:hover {
  background: #4eebaf;
  box-shadow: 0 0 15px #00000083;
}

.btn:disabled,
.btn[disabled] {
  background-color: #0b3746;
}

.reset {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-top: 0.2em;
  background: #e67676;
}

.sugerir {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-top: 0.2em;
  background: #0e8a37;
}

.estado {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
}

.estado_vivo {
  font-size: 3em;
}

.reiniciar {
  position: relative;
  top: 10px;
  font-size: 16px;
  display: none;
}

.circle {
  padding: 5px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 50px;
  background: #d30303;
}

.foot {
  margin: 5em;
}

.ganador {
  animation: text-shadow 1.5s ease-in-out infinite;
  font-size: 6em;
  font-weight: 900;
  line-height: 1;
}

@keyframes text-shadow {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }

  20% {
    transform: translateX(-1em);
    text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb203b,
      0 -0.25em 0 #fefc4b;
  }

  40% {
    transform: translateX(0.5em);
    text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
      0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
  }

  60% {
    transform: translateX(-0.25em);
    text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
      0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
  }

  80% {
    transform: translateX(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
